.selectedPlaceholder__Wrapper {
    min-height: 88px;
    width: 1170px;
    background-color: white;
    border-radius: 8px;
    margin: 8px 0 0 0;
    padding: 8px;
}

.selectedPlaceholder {
    font-size: 1rem;
    margin: 0;
}