.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 24px 0 0 0;
}

.section__headerWrapper {
    width: 160px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: var(--header-background-color);
}

.section__header {
    columns: var(--primary-font-color);
    font-size: 1rem;
    font-weight: 700;
}

.section__placeholderWrapper {
    width: 184px;
    height: 24px;
    border: solid 2px black;
    border-radius: 8px;
    margin: 8px 0 0 0;
    padding: 8px;
}

.section__placeholderText__notSelected {
    font-family: Inter;
    font-size: 0.75rem;
    color: var(--primary-font-color);
    margin: 0;
}

.section__placeholderText__selected {
    font-family: Inter;
    font-size: 0.75rem;
    color: var(--text-highlight-primary-color);
    font-weight: 700;
    margin: 0;

}

.section__button {
    width: 32px;
    height: 32px;
    margin: 8px 0 0 0;
    background-color: var(--interactive-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}