.searchWrapper {
    min-width: 1194px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
}

.searchInputWrapper {
    width: 141px;
    display: flex;
    gap: 8px;
    flex-direction: column;
    align-items: center;
}


.searchInput {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 700;
    background-color: var(--header-background-color);
    margin: 0;
    padding: 4px;
    border-radius: 8px;
}

.button {
    width: 120px;
    height: 43px;
    font-family: "Inter";
    font-size: 20px;
    font-weight: 700;
    color: var(--secondary-font-color);
    background-color: var(--interactive-color);
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.textArea {
    width: 976px;
    height: 133px;
    border: solid 4px black;
    border-radius: 8px;
    padding: 8px;

}

.outerPlaceholderHighlight {
    color: var(--text-highlight-secondary-color);
}