:root {
    --primary-font-color: #000;
    --secondary-font-color: #fff;
    --interactive-color: #04A7DB;
    --text-highlight-secondary-color: #032AF6;
    --text-highlight-primary-color: #FF0000;
    --header-background-color: #D9D9D9;
}